body{
    background-color: rgb(239, 226, 189);
    text-align: center;
    
}

/*utilidades*/
.contenedor{
    width: 1500px;
    margin: 10px;
}

nav{
    font-size: 30px;
    text-align: center;
    background-color: rgb(129, 134, 127);
}

.titulo{
    color: gray;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
